span {
    text-decoration: none;
    color: black;
}

span:hover, a:active {
    color: white;
}

.sidenav{

    background-color: rgb(233, 195, 28);

}
.g{
    background-color: black;
    color: aliceblue;
}
