
<mat-sidenav-container class="g" fullscreen>
    <mat-sidenav class="sidenav" #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="main">
                <mat-icon>home</mat-icon>
                <span>Főoldal</span>
            </a>
            <a mat-list-item routerLink="movies">
                <mat-icon>movie</mat-icon>
                <span>Filmek</span>
            </a>
            <a mat-list-item routerLink="ticket">
                <mat-icon>date_range</mat-icon>
                <span>Jegyvásárlás</span>
            </a>
            <a mat-list-item routerLink="forum">
                <mat-icon>forum</mat-icon>
                <span>Forum</span>
            </a>
            <a *ngIf="!(loggedInUser)" mat-list-item routerLink="login">
                <mat-icon>account_circle</mat-icon>
                <span>Bejelentkezés</span>
            </a>
            <a *ngIf="loggedInUser" mat-list-item routerLink="login" (click)="logout()">
                <mat-icon>account_circle</mat-icon>
                <span>Kijelentkezés</span>
            </a>
            <a mat-list-item routerLink="signup">
                <mat-icon>account_box</mat-icon>
                <span>Regisztráció</span>
            </a>
        </mat-nav-list>

    </mat-sidenav> 

    <mat-toolbar class="sidenav">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>

        </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>
