.contact{
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: 0;
    font-size: small;
    background-color: rgb(233, 195, 28);
}

.icon{
    font-size: 15px;
    height: 12px;
    width: 12px;
}