<div class="boss">
    <div class="container">
        <img class="movieImage" src="assets/image-1.jpg"/>
    </div>
    <div class="text">
        <h1>Party Rock</h1>
    </div>
    <div class="text">
        <p>Baráti társaságot látunk sétálni az utcán, 
            <br>mind felöltözve egy éjszakára. Mindannyian izgatottan várják a város legmenőbb klubját, 
            <br>a Party Rockot. Ahogy közelednek a klubhoz, belülről hallják a bömbölő zene ütemét. 
            <br>Alig várják, hogy egész éjszakát táncolhassanak.</p>
    </div>
</div>
<button [routerLink]="'/ticket'"> <mat-icon>add_shopping_cart</mat-icon></button>
<div class="boss">
    <div class="container">
        <img class="movieImage" src="assets/image-2.jpg"/>
    </div>
    <div class="text">
        <h1>SameButDifferent</h1>
    </div>
    <div class="text">
        <p>Két nőt látunk, Lilyt és Jane-t, akik egypetéjű ikrek. 
            <br>Mindig is szoros kötelék fűzte őket egymáshoz, de ahogy idősebbek lettek, kezdtek ráébredni,
            <br>hogy nem is olyan hasonlóak, mint korábban gondolták. 
            <br>Lily nyitott és kalandvágyó, míg Jane visszafogottabb és óvatosabb.
            <br>Egy nap Lily azt javasolja neki és Jane-nek, hogy menjenek el kettesben egy kirándulásra. 
            <br>Jane beleegyezik, és útnak indulnak országszerte. 
            <br>Utazás közben elkezdenek megnyílni egymás előtt félelmeikről, reményeikről és álmaikról.
            <br>Rájönnek, hogy bár sok tekintetben különböznek egymástól, testvérként mégis mély kötelék fűzi őket egymáshoz. 
            <br>Megbecsülik egymás erősségeit és gyengeségeit, és kezdik magukat egyéneknek tekinteni, nem pedig egy párnak.
        </p>
    </div>
</div>
<button [routerLink]="'/ticket'"> <mat-icon>add_shopping_cart</mat-icon></button>
<div class="boss">
    <div class="container">
        <img class="movieImage" src="assets/image-3.jpg"/>
    </div>
    <div class="text">
        <h1>OneOfThehighest</h1>
    </div>
    <div class="text">
        <p>Egy csapat hegymászót látunk, akik meleg ruhába és nehéz felszerelésbe vannak öltözve, 
        <br>amint egy alattomos csúcsra lépnek. Köztük van főszereplőnk,
        <br>Alex is, aki több éves tapasztalattal rendelkező, tapasztalt hegymászó.
        <br>Ahogy egyre feljebb kapaszkodnak, az időjárás kezd egyre rosszabbra fordulni. 
        <br>Hóvihar támad, szinte lehetetlen látni vagy hallani semmit. A csoport úgy dönt, hogy tábort állítanak, és kivárják a vihart.
        <br>Várakozásuk közben a feszültség nőni kezd a hegymászók között. Mindannyian kimerültek és félnek, és elkezdenek kétségbe vonni, 
        <br>megéri-e az életüket kockáztatni a csúcsért. Alex azonban eltökélt szándéka, hogy elérje a csúcsot.
        </p>
    </div>
</div>
<button [routerLink]="'/ticket'"> <mat-icon>add_shopping_cart</mat-icon></button>
<div class="boss">
    <div class="container">
        <img class="movieImage" src="assets/image-4.jpg"/>
    </div>
    <div class="text">
        <h1>OldMemory</h1>
    </div>
    <div class="text">
        <p>Egy idős nőt, Emilyt látunk egy idősek otthonában ülni. Gondolataiba merülve mered a távolba. 
            <br>Ahogy a kamera körbe-körbe pörög a szobában, képeket és emlékeket látunk szétszórva.
            <br>Egy fiatal nő, Emma lép be a szobába. Ő Emily unokája, és látogatóba jött. 
            <br>Leül Emily mellé, és beszélni kezd vele, de Emily távolinak és nem reagálónak tűnik.
            <br>Emma elkezdi átnézni a régi fényképeket és emlékeket, és megpróbál emlékeket ébreszteni a nagymamában. 
            <br>Elővesz egy régi fényképalbumot, és lapozgatni kezd.
            <br>Ahogy átnézik az albumot, Emily szeme felcsillan. Mesélni kezd fiatalkoráról, azokról az emberekről, akiket szeretett, és a kalandjairól. 
            <br>Emma feszülten hallgatja, csodálkozva a nagymamája által elmondott történeteken.</p>
    </div>
</div>
<button [routerLink]="'/ticket'"> <mat-icon>add_shopping_cart</mat-icon></button>
<div class="boss">
    <div class="container">
        <img class="movieImage" src="assets/image-5.jpg"/>
    </div>
    <div class="text">
        <h1>StandingAlone</h1>
    </div>
    <div class="text">
        <p>Sarah az éjszaka közepén sétál egy kihalt utcán. Egyedül van, és nyilvánvaló, hogy ideges. 
            <br>Folyton a válla fölött néz, mintha valaki követné.
            <br>Visszakanyarodunk a nap elejére. Sarah sikeres ügyvéd, de nehezen találja meg az egyensúlyt a magánéletében. 
            <br>Családjával és barátaival feszültek a kapcsolatai, elszigeteltnek és magányosnak érzi magát.
            <br>Sarah úgy dönt, hogy szünetet tart mozgalmas életében, és egyéni kirándulásra indul egy távoli erdőbe. 
            <br>Abban reménykedik, hogy talál némi tisztaságot és nyugalmat.
            <br>Ahogy Sarah betelepszik a kabinba, furcsa dolgok kezdenek történni. 
            <br>Zajokat hall az éjszaka közepén, és bizonyítékot talál arra, hogy valaki volt a kabinban, amíg ő kint volt.
        </p>
    </div>
</div>
<button [routerLink]="'/ticket'"> <mat-icon>add_shopping_cart</mat-icon></button>